@charset "utf-8";
/* CSS Document */

#outer, #outer2, #outer3, #outer4, #outer5, #outer6 {
    overflow:hidden;
    display:block;
    position:relative;
    display:inline-block;
    background: url(../images/slide_bg.jpg) no-repeat;
}
.box {
    overflow: hidden;
    display:block;    
    position:absolute;
    cursor: pointer;
    float:left;
    display: inline-block;
    zoom: 1;
    -webkit-transform: skewX(-21deg); -moz-transform: skewX(-21deg); -ms-transform: skewX(-21deg); -o-transform: skewX(-21deg); transform: skewX(-21deg);
    -webkit-box-shadow:  1px 1px 2px 2px rgba(0, 0, 0, .4); box-shadow:  1px 1px 2px 2px rgba(0, 0, 0, .4)
}
.box > *    { 
    -webkit-transform: skewX(21deg); -moz-transform: skewX(21deg); -ms-transform: skewX(21deg); -o-transform: skewX(21deg); transform: skewX(21deg)
}

.box img.slide-bg {
    position:relative;
    -webkit-transform: skewX(0deg); -moz-transform: skewX(0deg); -ms-transform: skewX(0deg); -o-transform: skewX(0deg); transform: skewX(0deg)
}
.caption {
    position:absolute;
    background:rgba(1, 1, 1, 0.4);
    padding:20px;
    left:0;
}
.caption p {
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:12px;
    line-height:1.6;
}
.caption h1 {
    color:#CCC;
    font-size:16px;
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom:5px;
}
.caption a {
    text-decoration:none;
}
.caption_1 {
    position:absolute;
    padding:20px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    margin:0px 20px 20px 20px;
    left:0;
}
.caption_1 p {
    color:#999;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:12px;
    line-height:1.6;
}
.caption_1 h1 {
    color:#666;
    font-size:16px;
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom:5px;
}
.caption_1 a {
    text-decoration:none;
}
.caption_2 {
    position:absolute;
    background: #F03;
    padding:20px;
    left:0;
    margin:0px 20px 20px 20px;
    border-right: 1px solid #FF8080;
    border-bottom: 1px solid #FF8080;
}
.caption_2 p {
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:12px;
    line-height:1.6;
}
.caption_2 h1 {
    color:#EFEFEF;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom:5px;
}
.caption_2 a {
    text-decoration:none;
}
.caption_3 {
    position:absolute;
    left:0%;
    margin:0px 20px;
    z-index: 3;
}
.caption_3 p {
    color:#666;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:12px;
    line-height:1.6;
}
.caption_3 h1 {
    color:#333;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom:5px;
}
.caption_3 a {
    text-decoration:none;
}
.caption_4{
    position:absolute;
    background: #111725 url(../images/top_2.png) top repeat-x;
    padding:20px;
    left:0;
    margin:0px 20px 20px 20px;
}
.caption_4 p {
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:12px;
    line-height:1.6;
}
.caption_4 h1 {
    color:#CCC;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom:5px;
}
.caption_4 a {
    text-decoration:none;
}
